@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.header{
  text-align: center;
}

.center{
  text-align: center;
}



.twit-c {
  color:#4099FF ;
}
.fac-c {
  color:#3B5998 ;
}
.twi-c {
  color:#6441A5 ;
}
.ins-c {
  color:#3f729b ;
}
.beh-c {
  color:#1769ff ;
}

.btn{
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
  padding: 1em 1em;
  display: inline-block;
  margin: 0.5em;
}

.btn:hover,
.btn:active,
.btn:focus{
  background-color: black;
}

.btn i{
  vertical-align: middle;
  padding-right: 0.25em;
}

.btn:hover .i-twitter,
.btn:hover .i-facebook,
.btn:hover .i-twitch,
.btn:hover .i-instagram,
.btn:hover .i-behance{
  color: white;
}
