@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.header{
  text-align: center;
}

.center{
  text-align: center;
}

.twit-c {
  color:#4099FF ;
}
.fac-c {
  color:#3B5998 ;
}
.twi-c {
  color:#6441A5 ;
}
.ins-c {
  color:#3f729b ;
}
.beh-c {
  color:#1769ff ;
}

.btn{
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
  padding: .5em .7em;
  display: inline-block;
  margin: 0.5em;
  border: solid 5px;
}

.btn:hover,
.btn:active,
.btn:focus{
}

.btn i{
  vertical-align: -10px;
}

.btn:hover .i-twitter,
.btn:hover .i-facebook,
.btn:hover .i-twitch,
.btn:hover .i-instagram,
.btn:hover .i-behance{
  color: white;
}

.twitter{
  background-color: #4099ff;
}
.facebook{
  background-color: #3B5998;
}
.google-plus{
  background-color: #db5a3c;
}
.instagram{
  background-color: #517fa4;
}
.twitch{
  background-color: #cb2027;
}
}
